<div class="navbar is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('index') }}">
        <h1 class="title is-size-4">Milk Data</h1>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for('shed_index') }}">Shed</a>
        <a class="navbar-item" href="{{ url_for('prepare') }}">Prepare</a>
      </div>
      <div class="navbar-end">
        <input 
          type="date" 
          name="date"
          value="{% if request.args.date %}{{ request.args.date }}{% else %}{{ today }}{% endif %}"
          class="input" 
          hx-get="{{ url_for('index') }}"
          hx-trigger="change"
          hx-push-url="true"
        > 
      </div>
    </div>
  </div>
</div>