{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="level is-mobile">
          <div class="level-left">
            <h1 class="title is-size-4">Select a date</h1>
          </div>
        </div>
        <hr>
        <form action="{% url 'date' %}" method="POST">
          {% csrf_token %}
          <div class="field">
            <label for="name" class="label">Date</label>
            <div class="control">
              <input type="date" class="input" name="date" value="{{ request.session.date }}">
            </div>
          </div>
          <div class="block">
            <button class="button is-link is-fullwidth">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}